*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.parallax{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.parallax:nth-child(1){
    background-image: url("./images/bg-img1.jpg");
}
.content1 h1{
    -webkit-text-stroke: 1px black; /* Outline thickness and color */
    -webkit-text-fill-color: #dcdcdc; /* Text color */
    text-align: center;
    padding: 50px;
    font-size: clamp(2rem,5vw,6rem);
}
.c1{
    font-size: 25px;
    margin-top: 20px;
    color: red;
    text-align: center;
}

.parallax:nth-child(2){
    background-image: url("./images/bg-img2.jpg");
}
.content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content2 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content2 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content2 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content2 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
}
.content2 .cnt2 button:hover{
    cursor: pointer;
}
.content2 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(3){
    background-image: url("./images/bg-img3.jpg");
}
.content3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content3 h1{
    color: black;
    font-size: clamp(2rem,5vw,6rem);
}
.content3 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content3 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content3 p{
    width: 75vw;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, black 20%, white 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.content3 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.content3 .cnt2 button:hover{
    cursor: pointer;
}
.content3 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(4){
    background-image: url("./images/bg-img4.jpg");
}
.content4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content4 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content4 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content4 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content4 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content4 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content4 .cnt2 button:hover{
    cursor: pointer;
}
.content4 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(5){
    background-image: url("./images/bg-img5.jpg");
}
.content5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content5 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content5 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content5 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content5 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content5 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content5 .cnt2 button:hover{
    cursor: pointer;
}
.content5 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(6){
    background-image: url("./images/bg-img6.png");
}
.content6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content6 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content6 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content6 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content6 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content6 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content6 .cnt2 button:hover{
    cursor: pointer;
}
.content6 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(7){
    background-image: url("./images/bg-img7.jpg");
}
.content7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content7 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content7 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content7 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content7 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content7 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content7 .cnt2 button:hover{
    cursor: pointer;
}
.content7 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(8){
    background-image: url("./images/bg-img8.jpg");
}
.content8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content8 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content8 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content8 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content8 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content8 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content8 .cnt2 button:hover{
    cursor: pointer;
}
.content8 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(9){
    background-image: url("./images/bg-img9.jpg");
}
.content9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content9 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content9 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content9 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content9 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content9 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content9 .cnt2 button:hover{
    cursor: pointer;
}
.content9 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(10){
    background-image: url("./images/bg-img10.jpg");
}
.content10{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content10 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content10 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content10 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content10 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content10 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content10 .cnt2 button:hover{
    cursor: pointer;
}
.content10 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(11){
    background-image: url("./images/bg-img11.jpg");
}
.content11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content11 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content11 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content11 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content11 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content11 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content11 .cnt2 button:hover{
    cursor: pointer;
}
.content11 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(12){
    background-image: url("./images/bg-img12.jpg");
}
.content12{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content12 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content12 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content12 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content12 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content12 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content12 .cnt2 button:hover{
    cursor: pointer;
}
.content12 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(13){
    background-image: url("./images/bg-img13.jpg");
}
.content13{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content13 h1{
    color: white;
    font-size: clamp(2rem,5vw,6rem);
}
.content13 .cnt1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content13 .cnt1 button{
    border: none;
    margin: 30px;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
}
.content13 p{
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content13 .cnt2 button{
    border: none;
    margin: 30px;
    padding: 8px;
    width: 125px;
    border-radius: 5px;
    background-color: white;
}
.content13 .cnt2 button:hover{
    cursor: pointer;
}
.content13 #one,#two{
    margin-left: 10px;
}

.parallax:nth-child(14){
    background-image: url("./images/bg-img14.jpg");
}

.parallax:nth-child(15){
    background-image: url("./images/bg-img15.jpg");
}

.content{
    color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

.content h1{
    font-size: clamp(2rem,5vw,6rem);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}