*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.parallax{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.parallax:nth-child(1){
    background-image: url("./images/bg-img1.jpg");
}

.parallax:nth-child(2){
    background-image: url("./images/bg-img2.jpg");
}

.parallax:nth-child(3){
    background-image: url("./images/bg-img3.jpg");
}

.parallax:nth-child(4){
    background-image: url("./images/bg-img4.jpg");
}

.parallax:nth-child(5){
    background-image: url("./images/bg-img5.jpg");
}

.parallax:nth-child(6){
    background-image: url("./images/bg-img6.png");
}

.parallax:nth-child(7){
    background-image: url("./images/bg-img7.jpg");
}

.parallax:nth-child(8){
    background-image: url("./images/bg-img8.jpg");
}

.parallax:nth-child(9){
    background-image: url("./images/bg-img9.jpg");
}

.parallax:nth-child(10){
    background-image: url("./images/bg-img10.jpg");
}

.parallax:nth-child(11){
    background-image: url("./images/bg-img11.jpg");
}

.parallax:nth-child(12){
    background-image: url("./images/bg-img12.jpg");
}

.parallax:nth-child(13){
    background-image: url("./images/bg-img13.jpg");
}

.parallax:nth-child(14){
    background-image: url("./images/bg-img14.jpg");
}

.parallax:nth-child(15){
    background-image: url("./images/bg-img15.jpg");
}

.content{
    color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

.content h1{
    font-size: clamp(2rem,5vw,6rem);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}