* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: url("./images/cursor.png"), auto;
  font-family: Cinzel, sans-serif;
}
.c1,
.content1 h1,
.content3 p,
.down {
  text-align: center;
}
.cnt3,
.parallax {
  width: 100%;
  display: flex;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}
.down {
  height: 8vh;
}
.content1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.parallax:first-child {
  background-image: url("./images/bg-img1.jpg");
}
.content1 h1 {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #dcdcdc;
  padding: 50px;
  font-size: clamp(2rem, 5vw, 4rem);
}
.c1 {
  font-size: 25px;
  margin-top: 20px;
  color: red;
  font-weight: 600;
}
.parallax:nth-child(2) {
  background-image: url("./images/bg-img2.jpg");
}
.content10,
.content11,
.content12,
.content13,
.content14,
.content15,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content10 h1,
.content11 h1,
.content12 h1,
.content13 h1,
.content14 h1,
.content15 h1,
.content2 h1,
.content4 h1,
.content5 h1,
.content6 h1,
.content7 h1,
.content8 h1,
.content9 h1 {
  color: #fff;
  font-size: clamp(2rem, 5vw, 4rem);
}
.content10 .cnt1,
.content11 .cnt1,
.content12 .cnt1,
.content13 .cnt1,
.content14 .cnt1,
.content15 .cnt1,
.content2 .cnt1,
.content3 .cnt1,
.content4 .cnt1,
.content5 .cnt1,
.content6 .cnt1,
.content7 .cnt1,
.content8 .cnt1,
.content9 .cnt1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content10 .cnt1 button,
.content11 .cnt1 button,
.content12 .cnt1 button,
.content13 .cnt1 button,
.content14 .cnt1 button,
.content15 .cnt1 button,
.content2 .cnt1 button,
.content3 .cnt1 button,
.content4 .cnt1 button,
.content5 .cnt1 button,
.content6 .cnt1 button,
.content7 .cnt1 button,
.content8 .cnt1 button,
.content9 .cnt1 button {
  border: none;
  margin: 30px;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
  background-color: #000;
  color: #fff;
}
.content10 p,
.content11 p,
.content12 p,
.content13 p,
.content14 p,
.content15 p,
.content2 p,
.content4 p,
.content5 p,
.content6 p,
.content7 p,
.content8 p,
.content9 p {
  width: 75vw;
  text-align: center;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}
.content10 .cnt2 button,
.content11 .cnt2 button,
.content12 .cnt2 button,
.content13 .cnt2 button,
.content14 .cnt2 button,
.content15 .cnt2 button,
.content2 .cnt2 button,
.content3 .cnt2 button,
.content4 .cnt2 button,
.content5 .cnt2 button,
.content6 .cnt2 button,
.content7 .cnt2 button,
.content8 .cnt2 button,
.content9 .cnt2 button {
  border: none;
  margin: 30px;
  padding: 8px;
  width: 125px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  transition: color 0.5s;
}
.content10 .cnt2 button:hover,
.content11 .cnt2 button:hover,
.content12 .cnt2 button:hover,
.content13 .cnt2 button:hover,
.content14 .cnt2 button:hover,
.content15 .cnt2 button:hover,
.content2 .cnt2 button:hover,
.content3 .cnt2 button:hover,
.content4 .cnt2 button:hover,
.content5 .cnt2 button:hover,
.content6 .cnt2 button:hover,
.content7 .cnt2 button:hover,
.content8 .cnt2 button:hover,
.content9 .cnt2 button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
#two,
.content10 #one,
.content11 #one,
.content12 #one,
.content13 #one,
.content14 #one,
.content15 #one,
.content2 #one,
.content3 #one,
.content4 #one,
.content5 #one,
.content6 #one,
.content7 #one,
.content8 #one,
.content9 #one {
  margin-left: 10px;
}
.parallax:nth-child(3) {
  background-image: url("./images/bg-img3.jpg");
}
.content3 h1 {
  color: #000;
  font-size: clamp(2rem, 5vw, 4rem);
}
.content3 p {
  width: 75vw;
  font-weight: 700;
  background: linear-gradient(to right, #000 20%, #fff 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 23px;
}
.parallax:nth-child(4) {
  background-image: url("./images/bg-img4.jpg");
}
.parallax:nth-child(5) {
  background-image: url("./images/bg-img5.jpg");
}
.parallax:nth-child(6) {
  background-image: url("./images/bg-img6.jpg");
}
.parallax:nth-child(7) {
  background-image: url("./images/bg-img7.jpg");
}
.parallax:nth-child(8) {
  background-image: url("./images/bg-img8.jpg");
}
.parallax:nth-child(9) {
  background-image: url("./images/bg-img9.jpg");
}
.parallax:nth-child(10) {
  background-image: url("./images/bg-img10.jpg");
}
.parallax:nth-child(11) {
  background-image: url("./images/bg-img11.jpg");
}
.parallax:nth-child(12) {
  background-image: url("./images/bg-img12.jpg");
}
.parallax:nth-child(13) {
  background-image: url("./images/bg-img13.jpg");
}
.parallax:nth-child(14) {
  background-image: url("./images/bg-img14.jpg");
}
.parallax:nth-child(15) {
  background-image: url("./images/bg-img15.jpg");
}
.cnt3 {
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}
#scrollBtn {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px red;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#scrollBtn:hover {
  background: #fff;
  color: #000;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
